@{
    ViewBag.Title = "About Us.....";
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        height: 670px;
        margin: auto;
    }
</style>
<h2>@ViewBag.Title.</h2>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-12">
                <h2>What Ryde does?</h2>
                <p style="font-size:18px">
                    It is simply a small try to connect the students of SouthEastern Lousiana University who donot have the easy
                    transporatation facilities for getting their daily basic needs.For this we obviously need the volunteers who is willing to provide ride
                    either free or with small amount for the gas consumed throught out the ride. The main objective of Ryde is to help the incoming international
                    freshman who donot have car to go to nearby places such as Walmart,TJ Max and other places. The secondary goal of Ryde is to connect people
                    together and to develop the attitude of help for others.
                </p>
            </div>

        </div>
    </div>
    <br />
    <div class="row">

        <div>

            <div class="row-lg-26">
                <div class="col-lg-1"></div>
                <div class=" col-sm-3" style="text-align:center">

                    <div class="img-thumbnail" style="border:none; background:white; height:270px; width:200px">

                        <img src="https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/12096207_926146987458717_6316375016979070733_n.jpg?oh=5baa6597088e3b01e9cbb2e0742ee30f&oe=5A91848D" style="height:300px; margin-left:-4px; width:250px" />
                    </div>
                </div>

                <div class="col-sm-7">

                    <h2>Who are we?</h2>

                    <p style="font-size:18px; color:#03225C;">
                        We are a group of Nepalese international students at Southeastern Louisiana University. We are one of the
                        organization at Southeastern who is actively pariticipating in increasing the culture of Nepal. This organization
                        decided to help all the international students who are having difficult times going to the wallmart or such nearby
                        place just because of difficulty in finding Uber and spending a lot of money in that. Ryde is very useful in that case s
                        since it is for the cause to help others.
                    </p>

                </div>

            </div>
        </div>
    </div>
</div>
<br />
<br />
<legend style="font-size:30px;margin-top:2%;" class="text-center"> <b>The Developers</b></legend>

<div class="row">
    <div class="col-lg-12">
        <br />
        <div id="developers" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#developers" data-slide-to="0" class="active"></li>
                <li data-target="#developers" data-slide-to="1"></li>
                <li data-target="#developers" data-slide-to="2"></li>
                <li data-target="#developers" data-slide-to="3"></li>

            </ul>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="http://www.hollyandsmith.com/portfolio/images/Southeastern%20Louisiana%20University%20Memorial%20Fountain/fountain-side-night1.jpg?Action=thumbnail&Width=1500&Height=1200&algorithm=proportional" alt="Bibesh KC" width="700" height="300">
                    <div class="carousel-caption">
                        <h1>Bibesh KC</h1>
                        <p style="font-family:cursive; font-size:18px">Bibesh KC is a sophomore at Southeastern Louisiana University pursuing his degree towards Computer Science.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="http://static.panoramio.com/photos/large/43321763.jpg" alt="Pratikshya Timalsina" width="700" height="600">
                    <div class="carousel-caption">

                        <h1>Pratikshya Timalsina</h1>
                        <p style="font-family:cursive; font-size:18px">Pratikshya Timalina is a sophomore at Southeastern Louisiana University pursuing his degree towards Computer Science."</p>
                    </div>
                </div>
                <div class="item">
                    <img src="http://www.hollyandsmith.com/portfolio/images/Southeastern%20Louisiana%20University%20Pursley%20Hall/pursley-img14%20(1).jpg?Action=thumbnail&Width=1500&Height=1200&algorithm=proportional" alt="Bikash Subedi" width="700" height="300">
                    <div class="carousel-caption">
                        <h1>Bikash Subedi</h1>
                        <p style="font-family:cursive; font-size:18px">Bikash Subedi is a sophomore at Southeastern Louisiana University pursuing his degree towards Computer Science."</p>
                    </div>
                </div>
                <div class="item">
                    <img src="http://lionsports.net/common/controls/image_handler.aspx?thumb_id=12&image_path=/images/2017/1/17/strawberry_stadium_fb_2016_action_new_web_092416_955.jpg">
                    <div class="carousel-caption">
                        <h1>Pawan Shrestha</h1>
                        <p style="font-family:cursive; font-size:18px">Pawan Shrestha is a sophomore at Southeastern Louisiana University pursuing his degree towards Bio-informatics.</p>
                    </div>
                </div>

            </div>
            <a class="left carousel-control" href="#developers" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#developers" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

</div>