@model CMPS_285.Models.ApplicationUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--For google map api in textbox to display name of cities-->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script type="text/javascript">
    function myclickfunction() {

        var origin  =  $('#origin').val();
        var Dest    =   $('#destination').val();
                document.getElementById("showskills").src =
                    "https://www.google.com/maps/embed/v1/directions?origin=" + origin + "&destination=" + Dest + "&key=AIzaSyDnHQikn_6-24aEOQHYxdEJnlbJHO34AY0";
    }

    function initialize()
    {
        var input =document.getElementById('origin');
        var options = { componentRestrictions: { country: 'us' } };
        new google.maps.places.Autocomplete(input, options);

        var input = document.getElementById('destination');
        var options = { componentRestrictions: { country: 'us' } };

        new google.maps.places.Autocomplete(input,options);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<!-- Website CSS style -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Website Font style -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<body>
    <h1> <strong> Life is </strong> Full Of Adventure..!! <t> </t> Ride with Us for free... </h1>
    <div class="container" style="background: url(/img/driver.jpg); background-repeat: no-repeat; background-size: cover; background-position:center; margin-bottom: 7%;">
        <div class="row main" style="margin: 50px 15px; float:right;">
            <div class="main-login main-center" style="margin-top: 30px;margin: 0 auto;max-width: 400px;padding: 10px 40px;background: #1b3477;font-family: 'Oxygen', sans-serif;color: #FFF;text-shadow: none;box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);">
                <h5><b>Sign up </b> once and get free rides.</h5>
                <form class="" method="post" action="@Url.Action("PreRegister","Account")">
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Your Name</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="Fullname" id="name" placeholder="Enter your Name" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Enter your Email" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="username" id="username" placeholder="Enter your Username" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Street Address" class="cols-sm-2 control-label">Street Address</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="StreetAddress" id="confirm" placeholder="Enter your Street Address" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <input type="submit" class="btn btn-primary btn-lg btn-block login-button" style="margin-left: 5.5%;" value="Register"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <div id="dist">
        <h2> <bold> Location </bold> </h2>
        <h3> Find out how far is your destination </h3>
        <div class="origin">
            <form method="post" style="margin-bottom:7%;">
                <div class="form-group">
                    <label for="Origin">Your Location:</label>
                    <div class="input-group">
                        <span class="input-group-addon info"> <span class="glyphicon glyphicon-map-marker"> </span></span>
                        <input type="text" class="form-control" id="origin" name="origin" size="25">
                    </div>
                </div>
                <div class="form-group">
                    <label for="destination">Destination</label>
                    <div class="input-group">
                        <span class="input-group-addon info"> <span class="glyphicon glyphicon-map-marker"></span></span>
                        <input type="text" class="form-control" id="destination" name="destination" size="25">
                    </div>
                </div>
                <button type="button" class="btn btn-success" onclick = "myclickfunction()">Calculate Distance</button>
            </form>
        </div>
        <div id="map" style="width:100%;">
            <iframe width="100%" id="showskills" height="450" frameborder="0" style="border:0" src="" allowfullscreen></iframe>
            <script>
                var origin = "1000 North Oak Street,Hammond,LA";
                var Dest = "Walmart";
                document.getElementById("showskills").src =
                    "https://www.google.com/maps/embed/v1/directions?origin=" + origin + "&destination=" + Dest + "&key=AIzaSyDnHQikn_6-24aEOQHYxdEJnlbJHO34AY0";
            </script>
        </div>
        <div class="quote" style="font-family: Garamond">
            <h2>Drive when you want</h2>
            <h3>Be where you want- ABC</h3>
        </div>
        <div id="landscape">
            <img src="/img/landscape.jpg" alt="NO IMAGE AVAILABLE" height="100%;" width="100%;" style="margin-bottom:5%; height:auto;">
        </div>
    </div>

    <div class="block p-0" style="text-align:center;">
            <div class="inner">
                    <ul class="list-items" style="list-style: none;">
                        <li class="col-lg-4">
                                <img src="/img/pin.jpg" heigth="200" width="220" style="height:auto;">
                                <h3>  Easiest way around</h3>
                                <p>One tap and a car comes directly to you. Hop in—your driver knows exactly where to go. And when you get there, just step out.The best part? Its completely Free.  </p>
                        </li>

                        <li class="col-lg-4">
                                <img src="/img/anytime.jpg" alt="NO IMAGE AVAILABLE" height="220" width="250" style="height:auto;">
                                <h3> Anywhere, anytime </h3>
                                <p> Daily commute. Errand across town. Early morning flight. Late night drinks. Wherever you’re headed, count on Ryde for a ride—no reservations required.</p>
                         </li>

                        <li class="col-lg-4" style="margin-top: -6%;"s>
                                <img src="/img/free.png" alt="NO IMAGE AVAILABLE" height="200" width="220" style="height:auto;">
                                <h3> Its Free!! </h3>
                                <p> And The best part? Its completely Free. :) </p>
                            </li>
                        </ul>
</div>
</div>
</body>







