@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" style="margin-top:2%;">
<h2><strong>"There is already an email with this user registered. If you want to refer to more of your friends please go back to previous page. Thank You"</strong></h2>
</div>